.about__text-container {
    border-radius: 20px;
    background: linear-gradient(90deg, #57C964 30.19%, #577CEF 100%);
    padding: 58px 56px;
    margin-bottom: 95px;
  }
  
.about__text {
    font-size: 28px;
    color: #FFF;
    font-weight: 500;
}
  
.about__call-text {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}
  
.about__contacts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}