html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}
  
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
}

.container {
    max-height: 1024px;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
}
  
h1 {
    margin: 0;
    font-size: 72px;
}
  
h2 {
    margin: 0;
    font-size: 46px;
} 

a {
    text-decoration: none;
}

button {
    background-color: #00AF11;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    padding: 0;
}

.h-container {
    margin-top: 200px;
    padding: 25px 0px;
    width: 547px;
    height: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(110deg, rgba(196, 255, 204, 0.9) 0%, rgba(87, 124, 240, 0.001) 30%), linear-gradient(110deg, rgba(87, 201, 100, 0.2) 0%, rgba(87, 124, 240, 0.001) 30%);
    background-blend-mode: hard-light;
  }
