  
.by-symptoms__question-container {
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    padding: 58px 66px 50px 66px;
    margin-bottom: 70px;
}  
  
.by-symptoms__form {
    display: flex;
    justify-content: center;
}