.contacts__github-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    enable-background:new 0 0 438.549 438.549;
}

.contacts__telegram-icon {
    width: 32px;
    height: 32px;
    enable-background:new 0 0 189.473 189.473;
}