.result__diagnose-listing {
    margin-bottom: 65px;
}
  
.result__diagnose-container {
    padding: 43px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2509803922);
    display: flex;
    align-items: center;
}
  
.result__disease-name {
    font-size: 28px;
    font-weight: 700;
    margin-right: 20px;
    width: 400px;
}
  
.result__delimiter {
    width: 4px;
    height: 80px;
    background-color: #BAB9B9;
    margin-right: 20px;
}
  
.result__disease-description-container {
    margin-right: 40px;
    width: 400px;
}

.result__open-disease-description-container {
    margin-right: 40px;
    padding: 0px 20px;
}
  
.result__disease-description {
    color: black;
    font-size: 28px;
    font-weight: 500;
}
  
.result__disease-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__btn-arrow {
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    fill: black;
}

.result__btn-arrow--open {
    transform: rotate(-90deg);
}

.result__btn-arrow:hover {
    cursor: pointer;
}