.disease-history__disease-listing {
    padding-left: 82px;
    overflow: auto;
    max-height: 1024px;
}
  
.disease-history__disease-container {
    display: flex;
}
  
.disease-history__disease-item {
    padding: 0 0 0 20px;
    border-radius: 10px;
    display: flex;
    width: 467px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2509803922);
}
  
.disease-history__disease-item--active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
  
.disease-history__disease-content {
    padding-bottom: 73px;
    padding-top: 17px;
    width: 420px;
}
  
.disease-history__disease-name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}
  
.disease-history__disease-duration {
    font-size: 28px;
    color: #BAB9B9;
}
  
.disease-history__disease-status-container {
    display: flex;
    align-items: center;
}
  
.disease-history__disease-status {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
  
.disease-history__disease-status-short-line {
    width: 21px;
    height: 6px;
    visibility: hidden;
}
  
.disease-history__disease-status-short-line--active {
    visibility: visible;
}
  
.disease-history__disease-status-long-line {
    width: 62px;
    height: 6px;
    visibility: hidden;
}
  
.disease-history__disease-status-long-line--active {
    visibility: visible;
}

.disease-is-over {
    background-color: #00AF11;
}
  
.disease-is-chronic {
    background-color: #FFF500;
}
  
.disease-is-continuing {
    background-color: #EE0101;
}