.how-to-use__items {
    margin-bottom: 70px;
  }
  
.how-to-use__item {
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
    display: flex;
    align-items: center;
}
    
.how-to-use__item-listing {
    padding-left: 56px;
    margin: 0;
}
  
.how-to-use__listing-variant {
    display: flex;
    justify-content: left;
}
  
.how-to-use__listing-marker {
    background-color: #00AF11;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 9px;
}

.how-to-use__item-text {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

.how-to-use__listing-variant-text {
    font-size: 28px;
    height: 120px;
    width: 275px;
}