.sign-in__background-img-container {
    /* background-image: url("../images/sign_in.jpg"); */
    width: 100%;
    height: 1024px;
}
  
.sign-in__h {
    text-align: center;
    padding-top: 200px;
    margin-bottom: 26px;
}
  
.sign-in__container {
    display: flex;
    justify-content: center;
    margin-bottom: 321px;
}
  
.sign-in__inner-container {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    width: 590px;
    height: 388px;
    padding: 30px 48px 30px 48px;
    background-color: #FFF;
}