.slider-prev-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #00AF11;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.slider-prev-btn__arrow {
    width: 50px;
    height: 50px;
    fill: #FFF;
}